/* Desktop styles */
:root {
    --dropdownBg: rgba(44, 44, 44, 0.9);
}

.container {
    max-width: 1280px;
    padding: 0 1.5em;
}

/* Header */

.header.row {
    padding: .8em 0;
    min-height: 70dvh;
}

/* Navbar */
.navbar.row {
    background-color: transparent;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 .5em;
    position: static;
}

.navbar__hamburger-btn {
    display: none;
}

.navbar__list {
    background-color: transparent;
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    height: var(--navbarHeight);
    justify-content: flex-start;
    width: auto;

    position: static;
    z-index: 999;
}

.navbar__item {
    transition: var(--transition);
    border: none;
}

.navbar__item:hover {
    border-radius: 5px;
    background-color: #ffffff33;
}

.navbar__item:last-of-type:hover {
    background-color: var(--downloadBtnBg);
    transform: scale(1.1);
}

.navbar__link {
    font-size: .5rem;
    font-weight: 700;
}

.navbar__arrow {
    font-size: .3rem;
}

.navbar__dropdown {
    position: relative;
}

.navbar__dropdown:hover>.dropdown__list {
    opacity: 1;
    transform: translateY(0);
}

.dropdown__list {
    display: flex;
    background-color: #ffffff40;
    width: 200%;
    opacity: 0;
    padding: 0;
    transition: var(--transition);

    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-150%);
    z-index: -1;
}

.dropdown__item {
    width: 100%;
    transition: var(--transition);
}

.dropdown__item:hover {
    background-color: #37eaed80;
}

.dropdown__link {
    display: block;
    font-size: .5rem;
    padding: 1em;
}

/* download button */
.navbar__item:last-child {
    margin-left: 6em;
    border-radius: 5px;
}

.navbar__link.navbar__link--cta-btn {
    display: block;
    font-size: .45rem;
    letter-spacing: .8px;
    padding: 1em 1.7em;
}

/* Header content */
.header__container {
    padding: 5em 0 0 0;
    height: 100%;
    margin: 0;
}

.title-box {
    flex-basis: 60%;
    padding: 3em 0 0 1.5em;
}

.title-box__title {
    font-size: 1.5rem;
    letter-spacing: 2.4px;

}

.title-box__content {
    font-size: .6rem;
    letter-spacing: normal;
    margin: 1.5em 0;
}

.title-box__btn {
    letter-spacing: 1.5px;
    margin: .8em 0;
}

.header__img-box {
    height: 100%;
}

.header__img-box .img-box__img {
    max-height: 100%;
}

/* MAIN */

.section {
    margin-top: 5.5em;
    padding: 0;
}

.section__title {
    width: 40%;
}

/* Features section */
.feature-list__item {
    flex-basis: 33.33%;
}

.feature-list__img {
    width: 3.5em;
}

.feature-list__description {
    font-size: .7rem;
    padding: 0 3.3em;
}

/* SEO section */
.section__container.container {
    justify-content: space-between;
}

.section--seo .section__content-box {
    flex-basis: 40%;
}

.section--seo .section__title {
    font-size: 1rem;
}

.section--seo .section__content {
    font-size: .5rem;
    line-height: 200%;
}

.section--seo .section__btn {
    font-size: .5rem;
}

.section--seo .section__img-box {
    flex-basis: 50%;
}

/* Testimonials section */
.section.section--testimonials {
    padding: 5.5em 0;
}

.section--testimonials .section__content {
    font-size: .7rem;
}

/* Pricing section */
.section.section--pricing .section__container {
    max-width: 1280px;
}

.section--pricing .section__list {
    flex-basis: 100%;
}

.section--pricing .section__item .section__title {
    font-size: .7rem;
}

.section--pricing .section__item .section__price {
    font-size: .8rem;
}

.list.list--second .list__item {
    font-size: .55rem;
    margin-top: 2em;
}

.section--pricing .section__item .list__cta-btn {
    margin-top: 2em;
}

/* Download section */
.section.section--download {
    padding: 0 1em;
}

.section--download .section__container {
    flex-direction: row;
    flex-wrap: nowrap;
}

.section--download .section__title {
    flex-basis: 60%;
    font-size: 1.6rem;
}

/* Footer */

/* Footer links */
.footer__container.footer__footer-links .footer__links-lists {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 3em;
    padding-bottom: 6em;

}

.footer-links__list {
    flex-basis: 33.33%;
}

.footer-links__list:first-child {
    flex-basis: 60%;
}

.footer-links__list:last-child {
    flex-basis: 60%;
}

.footer-links__list .footer__title {
    font-size: .7rem;
}

.footer-links__list .footer__content {
    font-size: .55rem;
}

/* Social media icons */
.footer-links__list .footer__icons-list {
    font-size: .7rem;
}

.footer__link-list.list--second .link-list__link {
    font-size: .55rem;
}

/* Footer rights */
.footer__footer-rights .footer-rights__content {
    font-size: .5rem;
}