/* Global styles */

:root {

    /* colors */
    --fontLight: #fefefe;
    --fontDark: #333;
    --fontGrey: #666;

    --btnShadow: 10px 10px 20px 0 rgba(0, 0, 0, .08);
    --menuBtnColor: #fefefe;
    --headerBtnBg: #37ebed;
    --downloadBtnBg: #42b3fa;
    --downloadSectionBtnBg: #0181f5;
    --navbarBg: #2c2c2c;
    --sectionBg: rgba(93, 177, 255, 0.8);

    --firstFeatureColor: linear-gradient(90deg, rgba(16,136,240,1) 0%, rgba(87,175,254,1) 100%);
    --secondFeatureColor: linear-gradient(90deg, rgba(253,173,92,1) 0%, rgba(253,143,94,1) 100%);
    --thirdFeatureColor: #37ef8d;

    /* dimensions */
    --navbarHeight: 3em;
}

html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a {
    color: var(--fontLight);
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 5px;
    box-shadow: var(--btnShadow);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 1em 1.7em;
}

.row, .container, .cell {
    /* border: 5px solid; */
    /* margin: 5px; */
}

.row {
    border-color: green;
    margin: 0;
}

/* Padding for fixed navbar */
header.row {
    padding-top: var(--navbarHeight);
}

.container {
    border-color: blue;
    max-width: 1280px;
    margin: 1em auto;
    padding: 0 1.1em;
}

.container:first-of-type {
    margin: 0 auto;
}

.cell {
    border-color: orange;
   /*  background-color: orange;*/
    /* margin: 1em 0; */
}