/* Mobile styles */

.scroll-arrow {
    color: var(--fontDark);

    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 999;
    transition: var(--transition);
}

.scroll-arrow:hover {
    transform: scale(1.2);    
}

/* Header */
.header.row {
    background: center / cover no-repeat url(../images/banner/banner.png);
    color: var(--fontLight);
    height: 100dvh;
}

/* Navbar */
.navbar.row {
    align-items: center;
    background-color: var(--navbarBg);
    display: flex;
    height: var(--navbarHeight);
    justify-content: space-between;
    padding: 0.5em .8em;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar__brand-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.brand-logo__link {
    display: flex;
}

.brand-logo__img {
    max-height: 100%;
}

.navbar__hamburger-btn {
    width: 2.8em;
    height: 100%;
    padding: 1em;

    position: relative;
}

.navbar__hamburger-lines {
    background-color: var(--menuBtnColor);
    border-radius: 10px;
    display: block;
    width: 60%;
    height: 2px;
    text-align: center;
    transition: .2s  ease-out;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.navbar__hamburger-lines::before {
    border-radius: 10px;
    content: '';
    display: block;
    height: 2px;
    background-color: var(--menuBtnColor);
    transform: translate(0, -350%);
}
.navbar__hamburger-lines::after {
    border-radius: 10px;
    content: '';
    display: block;
    height: 2px;
    background-color: var(--menuBtnColor) ;
    transform: translate(0, 250%) rotate(0);
}

#navbar__hamburger-toggle:checked+.navbar__hamburger-btn .navbar__hamburger-lines {
    transform: translate(-50%, -50%) rotate(-45deg);  
}

#navbar__hamburger-toggle:checked+.navbar__hamburger-btn .navbar__hamburger-lines::before {
    transform: translate(400%, -50%);  
}

#navbar__hamburger-toggle:checked+.navbar__hamburger-btn .navbar__hamburger-lines::after {
    transform: translate(0, 0) rotate(-90deg);  
}

#navbar__hamburger-toggle {
    display: none;
}

.navbar__list {
    transition: var(--transition);
}

.navbar__list {
    display: flex;
    background-color: var(--navbarBg);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - var(--navbarHeight));
    width: 100%;

    position: absolute;
    top: -100vh;
    right: 0;
    z-index: -1;
}

#navbar__hamburger-toggle:checked~.navbar__list {
    top: var(--navbarHeight);
}

.navbar__item {
    flex-grow: 0;
    border-bottom: 1px solid rgba(255,255,255, .03);
    text-align: center;
    width: 100%;   
}

/* download button */
.navbar__item:last-child {
    background-color: var(--downloadBtnBg);
    box-shadow: none;    
}

.navbar__link, .dropdown__link {
    display: inline-block;
    height: 100%;
    padding: 1em 0;
    width: 100%;
}

.navbar__dropdown {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar__arrow {
    font-size: .7rem;
}

.navbar__dropdown:hover>.dropdown__list {
    display: flex;
}

.dropdown__list {
    background-color: #ffffff08;
    display: none;
    flex-direction: column;
    padding: .5em 0;
    transform: translateY(-100%);
    width: 100%;
}

.dropdown__link {
    padding: .4em 0;
}

/* Header content */
.header__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    padding-top: var(--navbarHeight);
    width: 100%;
    padding-bottom: 2em;
    height: 100%;
}

.title-box {
    padding: .5em 1em;
    flex-basis: 100%;
    height: 50%;
}

.title-box__title {    
    font-size: 1.7em;
    letter-spacing: 1.4px;
    line-height: 1.1;
    text-transform: capitalize;
}

.title-box__content {
    font-size: .9rem;
    margin: 1.3em 0;
}

.title-box__btn {
    color: var(--fontLight);
    background-color: var(--headerBtnBg);
    font-size: .9rem;
    letter-spacing: 1.6px;
    margin: 2em 0;
    padding: .8em 1.7em;
    text-transform: capitalize;
}

.title-box__btn:hover {
    background-color: var(--downloadBtnBg);
}

.img-box {
    text-align: center;
    height: 50%;
}

.img-box__img {
    animation: slide 3s .5s both;
    max-height: 100%;
    transform: translateX(400%); 
}

@keyframes slide {
    10% { 
        transform: translateX(0%);
        }

    20% {
        transform: translateX(0%) scale(1.2);
        }

    40% {
        transform: translateX(0%) scale(1);
        }

    100% {
        transform: translateX(0%);
        }
}

/* MAIN */
.section {
    color: var(--fontDark);
}

.section__container.container {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
}

.section__content {
    color: var(--fontGrey);
    font-size: .9rem;
}

.section__title {
    text-align: center;
    font-size: 1.6rem;
}

.section__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Features section */
.section.section--features {
    margin-top: 3em;
}
#features>.section__container {
    gap: 3em;
    justify-content: center;
}

#features .section__list {
    gap: 2em;
}

.feature-list__item {
    width: 60%;
    text-align: center;
    transition: var(--transition);
}

.feature-list__item:hover {
    transform: scale(1.1);
}

.feature-list__img {
    width: 6em;
}

.feature-list__description {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 1em;
}

.section--features .feature-list__img {
    border-radius: 10px;
    padding: 1em;
    box-shadow: inset 0 0 10px 0 #ffffff66;
}

.section--features .feature-list__item:nth-child(1) .feature-list__img {
    background: var(--firstFeatureColor);
}

.section--features .feature-list__item:nth-child(2) .feature-list__img {
    background: var(--secondFeatureColor);
}

.section--features .feature-list__item:nth-child(3) .feature-list__img {
    background: var(--thirdFeatureColor);
}

/* SEO section */
.section.section--seo {
    margin-top: 7em;;
}
.section--seo .section__content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.section__btn {
    background-color: var(--downloadSectionBtnBg);
    color: var(--fontLight);
    font-size: .9rem;
    letter-spacing: 1.5px;
    padding: .8em 1.6em;
}

/* Testimonials section */
.section.section--testimonials {
    background: linear-gradient(0deg, var(--sectionBg), var(--sectionBg)), center / cover no-repeat fixed url(../images/banner/testimonial.png);
    margin-top: 3em;
    padding: 6em 0;
}

.section--testimonials .section__content-box {
    color: var(--fontLight);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.section--testimonials .section__content {
    color: var(--fontLight);
    font-size: 1rem;
    line-height: 200%;
    text-align: center;
}

.section__author {
    align-items: center;
    display: flex;
    font-size: .8rem;
    font-style: normal;
    text-transform: uppercase;
}

.section__stars {
    color: gold;
    letter-spacing: 2px;
    font-size: 1rem;
}

/* Pricing section */
.section.section--pricing {
    margin-top: 3em;
}

.section--pricing .section__header {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    text-align: center;
}

.section--pricing .section__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    text-align: center;
}

.section--pricing .section__item {
    background-color: #fff;
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, .1);
    flex-basis: 100%;
    padding-bottom: 2em;
}

.section--pricing .section__item .section__header {
    align-items: center;
    background-color: var(--pricingFirstBg);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em 2em;
}

.section--pricing .section__item:nth-child(2) .section__header {
    background-color: var(--pricingSecondBg);
}

.section--pricing .section__item:nth-child(3) .section__header {
    background-color: var(--pricingThirdBg);
}

.section--pricing .section__item .section__title {
    font-size: 1rem;
    font-weight: 500;
}

.section--pricing .section__item .section__price {
    color: #218af5;
    font-size: 1.1rem;
    font-weight: 700;
}

.section--pricing .section__item:nth-child(2) .section__price {
    color: #fdb86c;
}

.section--pricing .section__item:nth-child(3) .section__price {
    color: #25d569;
}

.section--pricing .section__item .list__item--second {
    color: var(--fontGrey);
    margin: 1.5em 0;
}

.section--pricing .section__item .list__cta-btn {
    background-color: transparent;
    border: 1px solid var(--downloadBtnBg);
    color: var(--downloadBtnBg);
    padding: 1em 3em;
    text-transform: capitalize;
}

.section--pricing .section__item .list__cta-btn:hover {
   background-color: var(--downloadBtnBg); 
   color: #fff;
}

/* Download section */
.section.section--download {
    background-color: var(--sectionBg);
}

.section--download .section__container {
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
    padding: 5em 1em;
}

.section--download .section__title {
    color: #ececec;;
    font-size: 1.3rem;
}

/* Footer */

/* Footer links */
.footer__container.footer__footer-links {
    background-color: var(--footerLightBg);
    max-width: 100%;
    padding: 2em 1.1em;
}

.footer-links__list {
    display: flex;
    flex-direction: column;
}

.footer-links__list .list__item {
    padding: .5em;
}

.footer-links__list .list__link--logo {
    display: inline-block;
}

.footer-links__list .footer__logo {
    max-height: 100%;
}

.footer-links__list .footer__title {
    color: var(--fontLight);
    font-size: 1.3rem;
    font-weight: 500;
}
.footer-links__list .footer__content {
    color: var(--fontGrey);
    font-size: .9rem;
}

/* Social media icons */
.footer-links__list .footer__icons-list {
    display: flex;
    gap: 1em;
    margin-top: .5em;
}

.footer__icons-list .icons-list__link {
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    padding: 1em;
    transition: var(--transition);

    position: relative;
}

.footer__icons-list i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer__icons-list .icons-list__link:hover {
    background-color: var(--downloadBtnBg);
}

.footer__link-list.list--second .link-list__link {
    color: var(--fontGrey);
    display: inline-block;
    font-size: .9rem;
    margin-top: 1em;
    transition: var(--transition);
}

.footer__link-list.list--second .link-list__link:hover {
    color: var(--downloadBtnBg);
}

/* Footer rights */
.footer__footer-rights.container {
    background-color: var(--footerDarkBg);
    margin: 0;
    max-width: 100%;
    padding: 1em;
}

.footer__footer-rights .footer-rights__content {
    color: var(--fontLight);
    font-size: .7rem;
    line-height: 200%;
    text-align: center;
}

.footer-rights__link {
    color: var(--downloadBtnBg);
}

/* Media queries */
@media (max-width: 375px) and (max-height: 700px) {

    .title-box__title {
        font-size: 1.3rem;
    }
    
    .title-box__content {
        font-size: .8rem;
    }

    .title-box__btn {
        font-size: .8rem;
        margin: 1em 0;
    }
}
