/* Tablet styles */
:root {
    --navbarHeight: 60px;
}

.btn {
    padding: 1em 2em;
}

.container {
    max-width: 700px;
    padding: 0;
}

.scroll-arrow {
    right: 3%;
}

/* Header */
.header.row {
    background: left 30% / 100% 100% no-repeat url(../images/banner/banner.png);
    max-height: 50dvh;
}

/* Navbar */
.navbar.row {
    padding: 0 1.5em;
}

.navbar__brand-logo {
    align-items: center;
    display: flex;
}

.brand.logo__img {
    height: 100%;
}

.navbar__hamburger-btn {
    width: 2em;
}

.navbar__list {
    width: 50%;
    
    top: var(--navbarHeight);
    right: -100%;
}

#navbar__hamburger-toggle:checked~.navbar__list {
    right: 0;
}

/* Header content */
.header__container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.title-box {
    padding: 1em 0;
}

.title-box__title {
    font-size: 1.2rem;
}

.title-box__content {
    margin: .7em 0;
    font-size: .77rem;
}

.title-box__btn {
    font-size: .5rem;
    padding: .9em 2em;
}

.header__container {
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    padding: 4em 1em;
}

.header__img-box .img-box__img {
    max-height: none;
}

/* MAIN */
.section {
    padding: 0 1em;
}

.section__title {
    font-size: 1.4rem;
    margin: 0 auto;
    width: 50%;
}

.section__list {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
}

/* Features section */
.section.section--features {
    margin-top: 5em;
}

#features .section__list {
    margin-top: 0;
}

.feature-list__item {
    margin: 0;
    flex-basis: 30%;
}

.feature-list__img {
    width: 4.3em;
}

.feature-list__description {
    font-size: 1rem;
}

/* SEO section */
.section__container.container {
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

.section--seo .section__content-box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .5em;
}

.section--seo .section__title {
    width: 100%;
    text-align: left;
}

.section--seo .section__content {
    font-size: .6rem;
}

.section--seo .section__btn {
    font-size: .6rem;
    margin-top: 1em;
}

.section--seo .section__img-box {
    flex-basis: 45%;
}

/* Testimonials section */
.section.section--testimonials {
    margin-top: 5em;
    padding: 3em 0;
}

.section--testimonials .section__content {
    font-size: .8rem;
    line-height: 160%;
    margin-top: 1.5em;
}

.section__author {
    font-size: .6rem;
}

.section__stars {
    font-size: .8rem;
}

/* Pricing section */
.section.section--pricing {
    margin-top: 6em;
}

.section.section--pricing .section__container {
    justify-content: center;
    max-width: 100%;
}

.section--pricing .section__content {
    font-size: .7rem;
    max-width: 75%;
}

.section--pricing .section__list {
    flex-basis: 90%;
    flex-wrap: nowrap;
    gap: 0;
}

.section--pricing .section__item {
    flex-basis: 33.33%;
    transition: var(--transition);
}

.section--pricing .section__item:nth-child(2) {
    transform: translateY(-5%);
    z-index: 2;
}

.section--pricing .section__item:hover {
    transform: scale(1.1);
    z-index: 999;
}

.section--pricing .section__item .section__header {
    padding: 1em 1.5em;
}

.section--pricing .section__item .section__title {
    font-size: .8rem;
    margin: 0;
    text-align: left;
}

.section--pricing .section__item .section__price {
    font-size: .9rem;
}

.list.list--second .list__item {
    font-size: .65rem;
    padding: 0 1em;
}

/* Download section */
.section.section--download {
    background-color: #5db2ff;
}

.section--download .section__container {
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    padding: 5em 0;
}

.section--download .section__title {
    align-self: flex-start;
    font-size: 1.7rem;
    margin: 0;
    text-align: left;
    width: 100%;
}

.section--download .section__download-icons-box {
    display: flex;
    gap: .5em;
}

.section--download .section__download-icon {
    transition: var(--transition);
}
.section--download .section__download-icon:hover {
    transform: scale(1.1);
}

/* Footer */

/* Footer links */
.footer__container.footer__footer-links .footer__links-lists {
    display: flex;
    flex-wrap: wrap;
}

.footer-links__list {
    flex-basis: 50%;
}

.footer-links__list .footer__title {
    font-size: .9rem;
}

.footer-links__list .footer__content {
    font-size: .7rem;
    padding-right: 2em;
}

/* Social media icons */
.footer-links__list .footer__icons-list {
    font-size: .9rem;
    gap: .5em;
    margin-top: 1em;
}

.footer__link-list.list--second .link-list__link {
    font-size: .7rem;
    margin-top: .8em;
}

/* Footer rights */
.footer__footer-rights .footer-rights__content {
    font-size: .6rem;
}